/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 */
 @import url("style.css");

#menuToggle
{
  display: block;
  position: relative;
  top: 20px;
  left: 20px;
  
  z-index: 5000;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: var(--menu-text-color);
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: var(--highlight-01);
}


#menuToggle #menuToggleInput
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
 .hamburger {
  position: relative;
  width: 40px;
  height: 40px;
   margin-bottom:20px;
   clear: both;
 }
 
#menuToggle .hamburger span
{
  display: block;
  width: 100%;
  height: 15%;
  margin-bottom: 15%;
  position: relative;
  
  background: var(--menu-hamburger-color);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle .hamburger span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle .hamburger span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle #menuToggleInput:checked ~ .hamburger span
{
  opacity: 1;
  background: var(--menu-cross-color);
}
#menuToggle #menuToggleInput:checked ~ .hamburger span:nth-last-child(3)
{
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
}

/*
 * But let's hide the middle one.
 */
#menuToggle #menuToggleInput:checked ~ .hamburger span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0, 0);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle #menuToggleInput:checked ~ .hamburger span:nth-last-child(1)
{
  transform: rotate(-45deg) translate(-5px,-3px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: var(--menu-bg-color);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}